/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2014, 05:32:16 PM
    Author     : freenjt
*/
dl.defs{ margin: 10px 0 10px 40px; }
dl.defs dt{ font-weight: bold; line-height: 20px; margin: 10px 0 0 0; }
dl.defs dd{ margin: -20px 0 10px 160px; padding-bottom: 10px; border-bottom: solid 1px #eee;}

#tabs, #ui-datepicker-div, .ui-datepicker{ font-size: 85%; }
.example-container input{ border: solid 1px #aaa; padding: 4px; width: 175px; }
